{% extends 'authentication/layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

    <main>
        <section class="vh-lg-150 mt-5 mt-lg-50 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-50 w-10 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Créez votre entrprise
                                </h1>
                            </div>
                            <form method="post" action="" class="mt-4">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="last_name">Nom</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-user-circle"></span>
                                            </span>
                                            {{ form.last_name }}
                                        </div>  
                                        <span class="text-error">{{ form.last_name.errors }}</span>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label for="first_name">Prénoms</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-user-circle"></span>
                                            </span>
                                            {{ form.first_name }}
                                        </div>  
                                        <span class="text-error">{{ form.first_name.errors }}</span>
                                    </div>
                                </div>
                                                            
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="entreprise_name">Nom de l'entreprise</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.entreprise_name }}
                                        </div>  
                                        <span class="text-error">{{ form.entreprise_name.errors }}</span>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label for="taille">Taille</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-user-circle"></span>
                                            </span>
                                            {{ form.taille }}
                                        </div>  
                                        <span class="text-error">{{ form.taille.errors }}</span>
                                    </div>
    
                                </div>
                                
                                <div class="row">                                
                                    
                                    <div class="col-md-6 mb-2">
                                        <label for="description">Description </label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.description }}
                                        </div>  
                                        <span class="text-error">{{ form.description.errors }}</span>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-envelope"></span>
                                            </span>
                                            {{ form.email }}
                                        </div>  
                                        <span class="text-error">{{ form.email.errors }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="countries">Pays</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.countries }}
                                        </div>
                                        <span class="text-error">{{ form.countries.errors }}</span>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="languages">Langue</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.languages }}
                                        </div>
                                        <span class="text-error"> {{ form.languages.errors }}</span>
                                    </div>
                                </div>
                                <br>
                                    <div class="text-center">
                                        <div class="d-grid" >
                                            <button type="submit" name="register" class="btn btn-primary"><a href="{% url 'dashboard_admin' %}">Soumettre</a></button>
                                        </div>
                                    </div>
                                </div>                               
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
