{% extends 'authentication/layouts/bases_sidebar.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
 
  <!-- [ Main Content ] start -->
 
    <!--[ Recent Users ] end-->

    <!-- [ statistics year chart ] start -->
    <div class="col-xl-8 col-md-6">
      <div class="card card-event">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">

            <div class="col">
              <h5 class="m-0"> {{request.user.first_name}} &nbsp; {{request.user.last_name}}</h5>
            </div>           

          </div>
          <!-- <h2 class="mt-3 f-w-300">45<sub class="text-muted f-14">Competitors</sub></h2> -->
          <h5 class="text-muted mt-4 mb-0"> Bienvenu à bord {{request.user.first_name}} &nbsp; {{request.user.last_name}} .Vous etes l'administrateur de l'entreprise que vous vous apprètez à créer. <br>
             N'hésitez pas à cliquer sur le bouton pour commencer. <br>
            MERCI ! </h5>
          <!-- <i class="fab fa-angellist text-c-purple f-50"></i> -->
          <br>
          <div class="col-auto">
              <label class="label theme-bg4 f-14 f-w-400 float-right"><a href="{% url 'creer_entreprise' %}">Créer l'entreprise</a></label>
          </div>

        </div>
      </div>
    </div>
         
   

{% endblock content %}